.attenders {
    display: flex;
    flex-wrap: wrap;
    >.item {
        width: 100%;
        @media (min-width: 500px) {
            width: 50%;
        }
        @media (min-width: 800px) {
            width: 20%;
        }
    }
    &.none {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10%;
        h1 {
            background: var(--darker);
            width: 40vw;
            height: 40vw;
            border-radius: 500rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 4%;
            @media all and (max-width: 800px) {
                width: 80vw;
                height: 80vw;
            }
        }
    }
}
@media all and (min-width: 800px) {
  .princesa {
    position: relative;
    overflow: visible;
    &::before {
      content: "";
      display: none;
      position: absolute;
      z-index: 10;
      pointer-events: none;
      right: -15%;
      top: 60%;
      background: url(../assets/princesa.png) 0 0 no-repeat;
      height: 113px;
      width: 154px;
    }

    &:hover {
      &::before {
        display: flex;
      }
    }
  }
}

.organizer {
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: 500px) {
    flex-direction: row;
  }

  a {
    position: relative;
    border-radius: 500rem;
    width: 85vw;
    height: 85vw;
    overflow: hidden;
    object-fit: cover;
    @media (min-width: 500px) {
      width: 25vw;
      height: 25vw;
    }

    &:hover {
      span {
        display: block;
      }
      &::before {
        background: rgba(0, 0, 0, 0.8);
        font-family: 'naknak';
        width: 100%;
        position: absolute;
        height: 100%;
        content: "\e604";
        color: var(--color);
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  img {
    filter: grayscale(1);
  }

  span {
    position: absolute;
    top: 46%;
    left: 10%;
    z-index: 3;
    color: var(--color);
    pointer-events: none;
    display: none;
  }
}
