.attenders{
  &.none{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
    h1{
      background: var(--darker);
      width: 40vw;
      height: 40vw;
      border-radius: 500rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2%;
      @media all and (max-width: 800px) {
        width: 80vw;
        height: 80vw;
      }
    }
  }

}
