.attenders {
    display: flex;
    flex-wrap: wrap;
    >.item {
        width: 100%;
        @media (min-width: 500px) {
            width: 50%;
        }
        @media (min-width: 800px) {
            width: 20%;
        }
    }
    &.none {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10%;
        h1 {
            background: var(--darker);
            width: 40vw;
            height: 40vw;
            border-radius: 500rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 4%;
            @media all and (max-width: 800px) {
                width: 80vw;
                height: 80vw;
            }
        }
    }
}
@media all and (min-width: 800px) {
  .princesa {
    position: relative;
    overflow: visible;
    &::before {
      content: "";
      display: none;
      position: absolute;
      z-index: 10;
      pointer-events: none;
      right: -15%;
      top: 60%;
      background: url(../assets/princesa.png) 0 0 no-repeat;
      height: 113px;
      width: 154px;
    }

    &:hover {
      &::before {
        display: flex;
      }
    }
  }
}
