/*//--------------------------------//
//  Theme
//--------------------------------//*/

body {
  background: #fff;
  color: #222;
  font-family: var(--light);
}

.landing {
  width: 50%;
  margin: 0px 0 0 40px;
  position: absolute;
  top: 35%;
}

.slogan {

  margin: 1em 0;
  font-size: 1.5em;
}

.antilogo {
  height: 86px !important;
  max-width: 100%;
}

.logo-item {
  background: var(--color);
  color: #000;
  padding: 20px;
  a {
    display: block;
    color: #000;
    cursor: pointer;
    height: 100%;
  }
  h1 {
    position: absolute;
    text-indent: -9999px;
  }
}

#container {
  @media all and (max-width: 420px) {
    height: inherit !important;
    overflow: visible !important;
  }
}



.bold {
  font-weight: bold;
}

.icon-twitter:hover:after {
  content: "Follow us";
  font-size: .3em;
  position: absolute;
  bottom: 20px;
  left: 40px;
}

/*a {
  color: #666666;
  text-decoration: none;
  &:visited {
    color: #666666;
  }
  &:focus, &:hover {
    text-decoration: underline;
  }
}*/

/*//--------------------------------//
//  //Colors
//--------------------------------//*/

.color {
  color: var(--color) !important;
  font-family: var(--bold);
}

.bare {
  color: #bbb;
}

.pale {
  color: #999;
}

.neutral {
  color: #666;
}

.opaque {
  color: #333;
}

.sharp {
  color: #000;
}

.contrast {
  color: #fff !important;
}

.firm, a.firm {
  color: #f4b408 !important;
}

.positive {
  color: #73ab00;
}

.negative {
  color: #c20000;
}

a.bare, .bare a {
  color: #bbb;
}

a.pale, .pale a {
  color: #999;
}

a.neutral, .neutral a {
  color: #666;
}

a.opaque, .opaque a {
  color: #333;
}

a.sharp, .sharp a {
  color: #000;
}

a.contrast, .contrast a {
  color: #fff;
}

a.firm, .firm a {
  color: #f4b408;
}

a.positive, .positive a {
  color: #73ab00;
}

a.negative, .negative a {
  color: #c20000;
}

.bgbare {
  background: #bbb !important;
}

.bgpale {
  background: #999;
}

.bgneutral {
  background: #666;
}

.bgopaque, header.bgopaque {
  background: #333333;
}

.bgsharp {
  background: #000;
}

.bgcontrast {
  background: #fff;
}

.bgfirm {
  background: #f4b408;
}

.bgpositive {
  background: #73ab00;
}

.bgnegative {
  background: #c20000;
}

.bobare {
  border-color: #bbb;
}

.bopale {
  border-color: #999;
}

.boneutral {
  border-color: #666;
}

.boopaque {
  border-color: #333;
}

.bosharp {
  border-color: #000;
}

.bocontrast {
  border-color: #fff;
}

.bofirm {
  border-color: #f4b408;
}

.bopositive {
  border-color: #73ab00;
}

.bonegative {
  border-color: #c20000;
}

.bothin {
  border: 1px solid;
}

.underline {
  background: url(../assets/underline.png) bottom right no-repeat;
  padding-bottom: 10px;
}

.underline_contrast {
  background: url(../assets/underline_contrast.png) bottom right no-repeat;
  padding-bottom: 10px;
}

.tshadow {
  text-shadow: 0 1px 0 black, 0 -1px 0 white;
}

.boxshadowl {
  box-shadow: 5px 5px 30px #999;
}

.bora10 {
  border-radius: 0px 10px 0px 10px;
}

ul.boxshadow2 li {
  box-shadow: 3px 3px 5px #000;
}

.github {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 999;
}

.main {
  width: 100%;
  min-height: 100vh;
  float: left;
  padding-bottom: 50px ;


  &.only-title {
    height: 150px !important;
  }

  .content {
    max-width: 960px;
    width: 80%;
    text-align: left;
    margin: auto;
    font-size: 1.2em;
    h3, h4 {
      margin: 20px 0;
      font-weight: bold;
    }
    ul {
      margin: 20px 50px;
      @media all and (max-width: 400px) {
        margin: 20px 10px;
      }
    }
    p {
      margin: 10px 0;
      line-height: 25px;
    }
    li {
      line-height: 25px;
    }
    &.center{
      text-align: center;
    }
  }
  &.color {
    background: var(--color) !important;
    color: var(--opaque);
  }
  &.dark {
    background: var(--darker) !important;
    color: var(--bare);
  }
  &.neutral {
    background: var(--dark)!important;
    color: var(--bare);
  }
  &.neutraler {
    background: var(--dark) !important;
    color: var(--bare);
  }
  &.light {
    background: var(--bare) !important;
    color: var(--opaque) !important;
  }
  &.white {
    background: var(--white) !important;
    color: var(--opaque) !important;
  }
}

    .lang { 
  position: fixed;
  right: 0;
  z-index: 9;
  top: 0px;
  a {
    text-decoration: none;
    display: block;
    padding: 17px;
    color:white;
    background: var(--color);
    font-family: var(--bold);
    &:hover {
      color:var(--color);
      background: var(--white);
    }
  }
}
