/*//--------------------------------//
//  navigation 
//--------------------------------//
*/

.mainmenu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; 
  text-align: center;
  transition: all .10s ease;
  background: rgba(0, 0, 0, 0.7);
  @media all and (max-width: $tablet-width) {
    width: 100%;
    right: 0;
    left: inherit;
    position: relative;
    z-index: 0;
  }
  ul {
    margin: 0 50px 0 0;
    padding: 0;
    display: flex;
     @media all and (max-width: $tablet-width) {
       flex-direction:column;
      }
    li {
      display: inline-block;
      list-style: none;
      width: calc(100% / 6);
      @media all and (max-width: $tablet-width) {
        display: block; 
        width: 100%;
      }
      a {
        display: block;
        padding: 15px;
        color: #fff;
        font-size: 1.2em;
        text-decoration: none;
        transition: all .10s ease;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}


.nav_bottom {
  position: absolute !important;
  z-index: 10000;
  left: 50% !important;
  bottom: 5px !important;
  width: inherit !important;
  margin-left: inherit !important;
}



a.icon_menu {
  width: 38px;
  height: 25px;
  margin: 10px;
  span {
    position: absolute;
    text-indent: -9999px;
  }
  em {
    background: url(../assets/icon_menu.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}